{
	packages = {
		plugins = (
			{
				dependencies = (
					paddle
				);
				descriptions = {
					en = "This plugin does some things.";
				};
				path = "Sample-Paddleable-Glyphs-Plugin.glyphsReporter";
				screenshot = "";
				titles = {
					en = "__TEST Paddleable-Glyphs-Plugin";
				};
				url = "https://github.com/Mark2Mark/test-plugin-1";
				minVersion = 3062;
			},
			{
				dependencies = (
					paddle
				);
				descriptions = {
					en = "Variable Font Preview now available for Glyphs 3. This is a fully functional 30 days trial. What are you waiting for?";
				};
				path = "Variable Font Preview X.glyphsReporter";
				screenshot = "https://github.com/Mark2Mark/variable-font-preview/blob/main/.images/Plugin%20Manager%20-%20Variable%20Font%20Preview.jpg?raw=true";
				titles = {
					en = "Variable Font Preview 3";
				};
				url = "https://github.com/Mark2Mark/variable-font-preview";
				minVersion = 3062;
			},
		);
		modules = (
		    {
				identifier = paddle;
				hidden = 1;
				archs = (
					intel,
					arm,
				);
				descriptions = {
					en = "A module required by some plugins to offer a trial period.";
				};
				minVersion = 3062;
				titles = {
					en = Paddle;
				};
				url = "https://github.com/Mark2Mark/paddle-framework";
			},
		);
	};
}