{
	packages = {
		plugins = (
			{
				dependencies = (
					paddle
				);
				descriptions = {
					en = "This plugin does some things.";
				};
				path = "Sample-Paddleable-Glyphs-Plugin.glyphsReporter";
				screenshot = "";
				titles = {
					en = "__TEST Paddleable-Glyphs-Plugin";
				};
				url = "https://github.com/Mark2Mark/test-plugin-1";
				minVersion = 3062;
			},
		);
		modules = (
		    {
				identifier = paddle;
				hidden = 1;
				archs = (
					intel,
					arm,
				);
				descriptions = {
					en = "A module required by some plugins to offer a trial period.";
				};
				minVersion = 3062;
				titles = {
					en = Paddle;
				};
				url = "https://github.com/Mark2Mark/paddle-framework";
			},
		);
	};
}